<footer>
    <p>Copyright &copy;{{ "now" | date('Y') }}</p>
    <!-- The above line displays the copyright symbol followed by the current year in the format of "YYYY".
    The Liquid code block "{{ "now" | date('Y') }}" outputs the current year using the "date" filter. 
    The "now" keyword is a shortcut for the current date and time. -->
</footer>