<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASL Project</title>
</head>
<body>
  
  {% include "../partials/_header.twig" %} <!-- Includes a header partial file in the document -->
  
  {% block main_content %} <!-- Defines a block of content called "main_content" which can be overridden in child templates -->
    {% endblock %} <!-- Ends the "main_content" block -->
    
  {% include "../partials/_footer.twig" %} <!-- Includes a footer partial file in the document -->
  
</body>
</html>
