<form enctype="multipart/form-data" method="POST" action="/images/{% if images.id %}{{ images.id }}{% endif %}">
	{% if images.id %}
		<input type="hidden" name="id" value="{{ images.id }}"/>
	{% endif %}
	<div>
		<label>Parent Variant:</label>
		<select name="variantId">
			<option>Select Variant...</option>
			{% for variants in variants %}
				<option value="{{ variants.id }}" {% if variants.id == images.variantId %} selected="selected" {% endif %}>
					{{ variants.title }}
				</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<label for="image">Upload Image:</label>
		<br/>
		<input type="file" name="image" id="image"/>
	</div>
	<div>
		<input type="submit" value="Submit" name="submit" aria-label="Submit"/>
	</div>
</form>
